* {
	padding:0;
	margin:0;
}

body {
	text-align: center;
	background: url(../images/taco-background.png);
	color: #fff;
	font-family: 'Bangers', cursive;	
}
/* basically the scoreboard */
#gameStats{
	background: #000000;
	width: 780px;
	margin: 20px auto 20px;
	display: block;
	border: 2px solid yellow;
	-moz-box-shadow: 0px 3px 8px #000;
	box-shadow: 0px 3px 8px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	overflow: auto;
}

#gameStats p#timer{
	width: 200px;
	float: left;
	text-align: left;
	font-family: 'Bangers', cursive;
	padding: 0 0 0 10px;
}
#gameStats p#reset{
	width: 200px;
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
	}

#gameStats .gameReset{
	width: 200px;
	float: right;
	text-align: right;
	font-family: 'Bangers', cursive;
	padding: 0 10px 0 0;
	color: #fff;
	text-decoration:none;
	display:block;
}
/* the main game board */
#game {
	background: #000000;
	width: 750px;
	height: 635px;
	margin: 0 auto;
	display: block;
	border: 2px solid yellow;
	-moz-box-shadow: 0px 3px 12px #000;
	-webkit-box-shadow: 0px 3px 12px #000;
	box-shadow: 0px 3px 12px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}
/* the space the cards are allowed to take up */
#cards {
	position: relative;
	width: 760px;
	height: 480px;
	display: none;
}
/* Define the 3D perspective view and dimension of each card. */
.card {
	-webkit-perspective: 600;
	width: 109px;
	height: 145px;
	position: absolute;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}

#gameIntro {
	background:url(../images/taco-background.png) top left no-repeat contain;
	padding: 80px 0;
	text-align: center;
	height: 330px;
}
/* the click to play button */
#gameIntro a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 230px auto 0;
	padding: 10px;
	width: 150px;
	border: 3px solid #f5dd05;
	color:#f5dd05;
	text-decoration:none;
}

#gameIntro a.button:hover {
	background: #f14e03;
	color:#fff;
	text-decoration:none;
}
#gameComplete {
	background-color:  orange;
	padding: 80px 0;
	text-align: center; 
	height: 330px;
	color:yellow;
}

#gameComplete a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 50px auto 0;
	padding: 10px;
	width: 150px;
	border: 5px solid #000000;
	color:#000000;
	text-decoration:none;
}

#gameComplete p#top {
	margin: 200px 0 0;
	font-size: 20px;
	color:#000000;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: .3s;
	-webkit-backface-visibility: hidden;
}
/* the back of the cards */
.front {
	background: url(../images/richguytaco.png) no-repeat; 
	background-size: contain;
	z-index: 10;
}
/* the front of the cards , yes i know this is backwards */
.back {
	
	background-image: url(../images/polloasado.jpg);  /* what the fuck is this doing here */ 
	background-size: cover;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}
.card:hover .face, .card-flipped .face {
	-webkit-box-shadow: 0 0 10px #aaa;
}
.card-flipped .front {
	-webkit-transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
.card-flipped .back {
	-webkit-transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}
.card-removed {
	opacity: 0;
}
/* the images applied to the back of the cards : */
.grilledfish {background-image: url(../images/grilledfish.jpg); background-size: cover;}
.barbacoa {background-image:url(../images/barbacoa.jpg);background-size: cover;} 
.tripa {background-image:url(../images/tripa.jpg);background-size: cover;}
.bajafish {background-image:url(../images/bajafish.jpg);background-size: cover;}
.carneasada {background-image:url(../images/carneasada.jpg);background-size: cover;}
.carnitas {background-image:url(../images/carnitas.jpg);background-size: cover;}
.chorizoasado {background-image:url(../images/chorizoasado.jpg);background-size: cover;}
.shrimptaco {background-image:url(../images/shrimptaco.jpg);background-size: cover;}
.decabeza {background-image:url(../images/decabeza.jpg);background-size: cover;}
.alpastor {background-image:url(../images/alpastor.jpg);background-size: cover;}
.dorados {background-image:url(../images/dorados.jpg);background-size: cover;}
.lengua {background-image:url(../images/lengua.jpg);background-size: cover;}
.chicharron {background-image:url(../images/chicharron.jpg);background-size: cover;}
.sudados {background-image:url(../images/sudados.jpg);background-size: cover;}
.polloasado {background-image:url(../images/polloasado.jpg);background-size: cover;}
.nopales {background-image:url(../images/nopales.jpg);background-size: cover;}

/* the images for the win page */
.alpastor2{
	background-image: url(../images/alpastor.jpg);
	background-size: cover;
	height: 37vh;
}
.bajafish2{
	background-image: url(../images/bajafish.jpg);
	background-size: cover;
	height: 37vh;
}
.chorizoasado2{
	background-image: url(../images/chorizoasado.jpg);
	background-size: cover;
	height: 37vh;
}
.grilledfish2{
	background-image: url(../images/grilledfish.jpg);
	background-size: cover;
	height: 37vh;
}
.tripa2{
	background-image: url(../images/tripa.jpg);
	background-size: cover;
	height: 37vh;
}
.barbacoa2{
	background-image: url(../images/barbacoa.jpg);
	background-size: cover;
	height: 37vh;
}
.carneasada2{
	background-image: url(../images/carneasada.jpg);
	background-size: cover;
	height: 37vh;
}
.carnitas2{
	background-image: url(../images/carnitas.jpg);
	background-size: cover;
	height: 37vh;
}
.shrimptaco2{
	background-image: url(../images/shrimptaco.jpg);
	background-size: cover;
	height: 37vh;
}
.decabeza2{
	background-image: url(../images/decabeza.jpg);
	background-size: cover;
	height: 37vh;
}
.dorados2{
	background-image: url(../images/dorados.jpg);
	background-size: cover;
	height: 37vh;
}
.lengua2{
	background-image: url(../images/lengua.jpg);
	background-size: cover;
	height: 37vh;
}
.chicharron2{
	background-image: url(../images/chicharron.jpg);
	background-size: cover;
	height: 37vh;
}
.sudados2{
	background-image: url(../images/sudados.jpg);
	background-size: cover;
	height: 37vh;
}
.polloasado2{
	background-image: url(../images/polloasado.jpg);
	background-size: cover;
	height: 37vh;
}
.nopales2{
	background-image: url(../images/nopales.jpg);
	background-size: cover;
	height: 37vh;
}
.container{
	background-image: url(../images/taco-background.png);
	no-repeat center center fixed;
}
/* win page bootstrap stuff starts here */
.jumbotron{
	background-size: cover;
	font-family: 'Bangers', cursive;
	background-image: url(../images/taco-header.jpg);
}
.row{
	height: 400px;
}
.col-xs-3{
	height:10vh;
}
.button{
	width: 3em;
	position: bottom;
}
.buttontext{
	background-color: white;
	color:black;
	font-family: 'Bangers', cursive;
	font-size: 24px
}
h2{
	color: black;
	font-family: 'Bangers', cursive;
}
.myBtn{
	width: 50px;
	height: 100px;
	font-family: 'Bangers', cursive;
	position: relative;
	
}
/* modal stuff here */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 80%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	font-family: 'Bangers', cursive;
	overflow: auto;
	text-align: left;
}
.myModal1{
	font-family: 'Bangers', cursive;

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
	width: 80%; 
	font-family: 'Bangers', cursive;
}
.myBtn{
	text-align: center;
	position: relative;
	top: 150px;
	height: 75px;
	width: 75px;
	font-size: 20px;
}

/* closes the modal: */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
